@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed:wght@300&family=Roboto:wght@400;700&display=swap');

body{
    background-color:#e5e5e5;
    font-family: "Roboto" ,"sans-serif";
    



}

.main{
    background-color: #2f303a;
    text-align: center;
    color:white;

}
.logo{
    color:#2196F3;
    font-family: Raleway;
    font-style: Bold;
    font-size: 26px;
    line-height: 31px;
    line-height: 100%;
    box-align:left;
    vertical-align: top;
    letter-spacing: 3%;
    fill:solid;
}
.team{
    background-color:#f5f4f4;
}


p{
    color: #757575;
}

p:hover{
    color: yellow;
}

.list{
    list-style-type: none;
}

.nav-lnk,active{
    list-style: none;
    color:#2196F3;

}
.active{
    color:2196F3;
}

.nav .nav-list{
    list-style: none;
}

.nav-lnk:hover,
.nav-lnk:focus{
    color: pink;
}

.nav-lnk:visited{
    font-size: 35px;
    color: purple;
}

.btn:hover,
.btn:focus{
    cursor: pointer;
    background-color: rgba(225, 225, 225, 1);
    padding: 12px 25px;
    border-radius: 25px;
    color: white;
    font-size: 12px;
    line-height: 1.36;
    letter-spacing: 0.09em;
    font-weight: 600;
}

.footer{
    background-color:#2f303a;
    color:#ffffff;

}
